<?xml version="1.0" encoding="UTF-8" ?>
   <!DOCTYPE mapper
       PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaomi.info.mapper.ReimbursementMapper">
<resultMap id="ReimbursementMapper" type="com.xiaomi.info.model.Reimbursement">
    <id column="id" property="id"/>
    <result column="apply_time" property="applyTime"/>
    <result column="attachment" property="attachment"/>
    <result column="create_time" property="createTime"/>
    <result column="create_user" property="createUser"/>
    <result column="update_time" property="updateTime"/>
    <result column="update_user" property="updateUser"/>
</resultMap>

<!-- 插入用户数据：Integer insert(User user)-->
<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO
    xm_reimbursement_plan (name,status,item,amount,apply_time,attachment,create_time, create_user, update_time, update_user)
    VALUES
    (#{name},#{status},#{item},#{amount},#{applyTime},#{attachment} ,#{createdTime}, #{createdUser}, #{updateTime}, #{updateUser})
</insert>

<!-- 根据用户名查询用户数据：User findByName(String name)
<select id="getByName" resultMap="TripApplyMap">
    SELECT
    *
    FROM
    xm_trip_apply
    WHERE
    name = #{title}
</select>-->

<update id="updateDetailById">
        UPDATE
            xm_reimbursement_plan
        SET
            item = #{item},
            amount = #{amount},
            attachment = #{attachment},
            update_user = #{updateUser},
            update_time = #{updateTime}
        WHERE
            id = #{id}
 </update>

 <select id="findById" resultMap="ReimbursementMapper">
        SELECT
            *
        FROM
            xm_reimbursement_plan
        WHERE
            id = #{id}
</select>

<delete id="deleteById">
      DELETE FROM
          xm_reimbursement_plan
      WHERE
          id=#{id}
  </delete>
</mapper>